@import url(reset.min.css);
* {
	box-sizing: border-box;
}
body {
	font-family: 'Century Gothic', serif;
	background-color: #e6e6e6ff;
	font-size: 11pt;
	color: #5d5d5dff;
}
a {
	text-decoration: none;
}
.header, .sidebar, .page-title, .footer{
	text-align:center;
}
.profile-info {
	font-size: 15pt;
}
.profile-img {
	border: 5px solid #5d5d5dff; /* Параметры рамки */
    height: 100px; /* Высота */
    width: 100px;
    border-radius: 50px;
    object-fit: cover;
}
.profile-mon {
	width: 200px;
	margin-top: -10px;
}
.page {
	background: white;
	padding: 5px;
}
.page-title {
	font-size: 16pt;
	font-weight: 600;
	margin-bottom: 10px;
	padding-top: 10px; 
}
.sidebar-icon {
	margin-top: 10px;
}
.sidebar {
	width: 15%;
}
.blog-mess {
	background-color: #5d5d5dff;
	color: #e6e6e6ff;
	margin: 5px;
	padding-top: 5px; 
}
.mess-body {
	text-align: left;
	text-align: justify;
	padding: 5px;
}
.footer {
	margin-top: 20px; 
}