body {
	background-color: #e6e6e6ff;
}

.logo {
	width: 100px;
}
.side-menu {
	vertical-align: top;
}
.content {
	width: 100%;
	background-color: white;
}
.submit {
	margin-top: 10px;
}
li {
	list-style-type: none;
}
.reverse {
	transform: rotate(180deg);
}
.mon {
	width: 450px;
}