.h-menu-table li {
	display: inline-block;
	margin: 5px 10px 5px 10px;
}
div.table td {
	border: 2px solid black;
}
tr.error1 td {
	color: red;
}
tr.error1 td input {
	color: red;
}
tr.error1 td option {
	color: red;
}
